@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common

@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG <span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080;">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td class="w-auto col-2">
                      <img src="@item.ProductImg" class="w-75" />
                    </td>
                    <td class="col-7">@item.ProductName</td>
                    <td class="col-3">@Common.FormatNumber(item.Price, 0)</td>
                </tr>
            }
            <tr>
                <td colspan="2">Tổng tiền</td>
                <td >@Common.FormatNumber(tongtien, 0)</td>
                <td ></td>
            </tr>
        </table>
    </div>

}
else
{

}
